.navbar {
  height: 60px;
  width: 100vw;
  background-color: #11111f;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  color: aliceblue;
  display: flex;
  z-index: 999 ;
 
  box-shadow: 1px 1px 10px black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.navbarLight{
  height: 60px;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  color: aliceblue;
  display: flex;
  transition: 0.5s;
  z-index: 999 ;
  box-shadow: 1px 1px 10px rgb(57, 57, 57);
}
.nav-content {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-heading {
  color: white;
}
#main-headingLight {
  color: rgb(57, 57, 57);
}

.text {
  position: absolute;
  left: 20px;
  cursor: pointer;
}
.folio {
  color: hsl(250, 66%, 71%);
}
/* toggle switch */
/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: absolute;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  
  right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(250, 66%, 71%);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #000000;
  background: hsl(250, 66%, 71%);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: hsl(250, 66%, 71%);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
