*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; 
  scrollbar-width: none; 

}
html{

scroll-behavior: smooth;
  }

body{
  background-color: #11111f;
  color:aliceblue;
  font-family:'Poppins',sans-serif;
 

}
body::-webkit-scrollbar {
  display: none;
}
/* .About{
  width: 100vw;
  height: 60vh;
 
 
}
.Main{
  width: 100vw;
  height: 100vh;
 
} */
a{
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-style: none;
}
section{
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}
